# Here there are 4 proportions to be compared. so we have to apply Chi-Square Test

#H0- All the proportions are equal
#H1 -Atleat one proportion is different.

In [1]:
import pandas as pd
import numpy as np
import scipy as scipy
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [16]:
Buy_Ratio=pd.read_csv("BuyerRatio.csv")
Buy_Ratio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [17]:
BR=Buy_Ratio.drop(['Observed Values'],axis=1)
BR

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [19]:
Chisquares_results=scipy.stats.chi2_contingency(BR)
Chisquares_results

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [21]:
Chi_square=[['','Test Statistic','p-value'],['Sample Data',Chisquares_results[0],Chisquares_results[1]]]
Chi_square

[['', 'Test Statistic', 'p-value'],
 ['Sample Data', 1.595945538661058, 0.6603094907091882]]

In [ ]:
#P-Value>0.05, accept Null Hypothesis(H0- All the proportions are equal)